In [6]:
lst = [1,2,3,4]
lst

[1, 2, 3, 4]

In [7]:
for i in lst:
    print(i**2)

1
4
9
16

In [8]:
lst1=[]

In [9]:
for i in lst:
    lst1.append(i**2)

print(lst1)

[1, 4, 9, 16]

In [11]:
lst2 = [i**2 for i in lst]

In [12]:
lst2

[1, 4, 9, 16]

In [14]:
##Sum of even numbers inside a collection 
lst = [1,2,3,4,5,6,7,8,9,10]
lst3 = [i for i in lst if i%2==0]

In [15]:
lst3

[2, 4, 6, 8, 10]

In [16]:
 sum(lst3)

30

In [18]:
type((1,2,3,4,5))

tuple

In [20]:
type(tuple([1,2,3,4,5]))

tuple

In [25]:
t =(1,2,3,4,5,"Rakesh")

In [27]:
t[5][0]

'R'

In [28]:
t[3:]

(4, 5, 'Rakesh')

In [29]:
t[:-1]

(1, 2, 3, 4, 5)

In [30]:
t[1] = 2

TypeError: 'tuple' object does not support item assignment

In [34]:
t1 = ("Rakesh","limy")

In [35]:
[i[::-1] for i in t1]

['hsekaR', 'ymil']

In [38]:
t.count(1)
t.index(2)

1

In [39]:
len(t)

6

In [40]:
list(t)

[1, 2, 3, 4, 5, 'Rakesh']

SETS - collection of unique elements

In [42]:
type((1,2,3,4,5))

tuple

In [43]:
set((1,2,3,4,5))

{1, 2, 3, 4, 5}

In [44]:
type({1, 2, 3, 4, 5}
)

set

In [45]:
set((1,1,2,3,4))

{1, 2, 3, 4}

In [46]:
type({})

dict

In [47]:
x1 = {1,2,3,4,5}
x2 = {2,3,4,5,6,7}

In [48]:
x1.add(6)

In [49]:
x1

{1, 2, 3, 4, 5, 6}

In [50]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [51]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [52]:
x1.difference(x2)

{1}

In [53]:
x1 = {3,4,5}
x2 = {1,2,3,4,5,6,7}
x1.issubset(x2)

True

In [55]:
x2[2:] #no indexing

TypeError: 'set' object is not subscriptable

Dictionaries

In [57]:
type({})

dict

In [59]:
dict1 = {1:'Rakesh', 2:"Python" ,3:29}

In [60]:
dict1

{1: 'Rakesh', 2: 'Python', 3: 29}

In [62]:
dict1[1]

'Rakesh'

In [63]:
dict1[2]

'Python'

In [64]:
dict1.items()

dict_items([(1, 'Rakesh'), (2, 'Python'), (3, 29)])

In [65]:
dict1.keys()

dict_keys([1, 2, 3])

In [66]:
dict1.values()

dict_values(['Rakesh', 'Python', 29])

In [67]:
dict1[4]=25

In [68]:
dict1

{1: 'Rakesh', 2: 'Python', 3: 29, 4: 25}

In [69]:
dict2 = {'key1' : {'nestkey' : {'subnestkey' : 'value'}}}

In [70]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

FUNCTIONS

In [71]:
def greeting():
    print("Hello bro")

In [72]:
greeting()

Hello bro

In [75]:
 def func_name(lst):
        e_sum=0
        o_sum=0
        for i in lst:
            if i%2==0:
                e_sum=e_sum+i
            else:
                o_sum = o_sum+i
            
        print(e_sum)
        print(o_sum)

In [76]:
func_name([1,2,3,4,5,6])

12
9

In [77]:
def func_name(lst):
        e_sum=0
        o_sum=0
        for i in lst:
            if i%2==0:
                e_sum=e_sum+i
            else:
                o_sum = o_sum+i
            
        return e_sum,o_sum

In [78]:
e_sum,o_sum = func_name([1,2,3,4,5,6])

In [79]:
e_sum

12

In [80]:
o_sum

9

In [83]:
def func_name(lst3,lst4):
    for i in range(6):
        lst3[i] += lst4[i]
    
    print (lst3)

In [84]:
lst3 =[2,3,4,5,6,7]
lst4 = [6,7,8,9,3,4]
func_name(lst3,lst4)

[8, 10, 12, 14, 9, 11]